.best-instructor{
   background: #6c9894;

   .text{
      h2{
         color: #fff;
         font-family: 'Baloo_bhai_regular' ,serif;
         font-size: 40px;
         text-transform: uppercase;
      }

      .btn{
         background: #ffffff;
         color: #6c9894;
         text-transform: uppercase;
         padding-left: 20px;
         padding-right: 20px;
      }
   }
}